
body {
  background-color: #D3D3D3;
 height:80vh;
 display: grid;
 grid-template-columns: 1fr 4fr;
 grid-template-rows: 20% 75% 3%;
 grid-template-areas:
          "header header header header header"
          "side-panel main-panel main-panel main-panel main-panel"
          "footer footer footer footer footer";
        height: 100vh;
        margin: 0;
}
button{
color: purple;
font-family: Arial Hebrew;
}
.menubutton{
width:20vw;
height:5vh;
background-color: lightblue;
border-radius: 20px;
color:black;
justify-content:spacearound;
border: solid black 1px;
font-size: 10px;
font-weight: bold;
}
.menubutton:hover{
background-color: red;
color: white;
}

.navbarimg{
width: 30vh;
height: 100%;
}

ul{
 list-style-type:none;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-auto-rows:20px;
 margin-left: 0px;
}

header{
height:10%
display:flex;
flex-direction: column;
justify-content: space-around;
margin-left: 0px;
grid-area: header;
}

.langimg{
width:20px;
height:20px;
border: solid black 1px;
border-radius: 20px;
margin-left: 5px;
margin-right: 5px;
}

.indexcvimg{
width:15px;
height:15px;
border: solid black 1px;
border-radius: 15px;
margin-left: 5px;
margin-right: 5px;
}

.langimg:hover{
border: solid red 3px;
}

.institutelogo{
width: 10vw;
height: 6vh;
padding-left:10vw;
padding-right:10vw;
}

.personalfoto{
width:50px;
height:84px;
}

 #side-panel{
 grid-area: side-panel;
 color: black;
 margin-left: 20px;
 border:solid;
 }
 #main-panel{
 grid-area: main-panel;
 }
 footer{
 grid-area:footer;
 }
 
 header, footer{
 height:100%
 width:100%;
 }
header{
  background-color: #778899;
}
 
 p {
  text-align: center;
  font-size: 10px;
 }
 
 .ul-vert-dbl{
 list-style-type:none;
 display: grid;
 grid-template-columns: 1fr 2fr;
 align-items:start;
 }
 .ul-vert-dbl li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
}
 .ul-vert-dbl li .flaglang img {
  height: 100%;
}

.ul-vert-dbl li .descr {
  text-align: left;
  margin-left: 2px;
}
 .ul-vert-dbl li.descr span:before{
 content:": ";
 font-weight: bold;
 }
 .langcircle{
 width:7px;
 height:7px;
 border-radius:7px;
 }

.language-ul{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.h7-sidepanel{
  padding-left: 2vw;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 10px;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture img {
  max-width: 150px;
  height: 150px;
  border-radius:150px;
  border:solid 2px black;
}

.projects{
  width: 250px;
  height: 250px;
  margin-left: 50px;
}

a{
  text-decoration: none;
  color:black;
}